/* Base */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*iskaiciuoja paddinga i bendra bloko dydi*/
}
/* Layout */

.container{
    width: 80%;
    margin: 0 auto;
    background-color: #eee;
    /* text-align: center; */
}

/* Header */

header{
    height: 150px;
    background-color: #dd88ee;
    border-radius: 10px;
    border-style: double;
    border-color: aquamarine;
}
header h1{
    text-align: center;
    line-height: 140px;
}

/* Nav */

nav{
    background-color: #dd88ee;
    border-radius: 10px;
    border-style: double;
    border-color: aquamarine;
}
nav ul li{
    display: inline-block;
    padding: 10px;
}
nav ul li a{
    text-align: center;
    text-decoration: none;
    color: #000;
}

/* Content */

.wrapper{
    background-color: #eedd88;
    float: left;
    width: 70%;
    padding: 20px;
    /* height: 200px; */
    min-height: 200px;
    /* overflow: scroll; labai geras sprendimas */
}

aside{
    background-color: #dff32a;
    float: right;
    width: 30%;
    padding: 50px;
    min-height: 300px;
}

footer{
    clear: both; /* isvalo floata*/
}