h2{/**Elemento selektorius*/
	color: aquamarine;
}
#vip{?**ID selektorius*/
color: red;
text-align: center;

}
.bgBlue{/*klases selektorius*/
background-color: blue;
}
.text-center{
text-align: center;
.border{
border: 1px solid red;
}