h1{
	text-align: center;
	text-transform: uppercase;
	font-family: 'Reem Kufi Fun', sans-serif;
	font-size: 3em;
	line-height: 2.5;
}

h2{
	text-align: right;
	font-family: 'Noto Serif Georgian', serif;
	font-size: 2em;
}

p{
	text-align: justify;
	font-family: 'DotGothic16', sans-serif;
}

footer{
	text-align: center;
}